<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.FitConnect">

        <activity
            android:name="com.example.fitconnect.feature.auth.SplashActivity"
            android:theme="@style/Theme.FitConnect.Splash"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.example.fitconnect.feature.auth.MainActivity"
            android:exported="false" />
        <activity android:name="com.example.fitconnect.feature.home.HomeActivity" android:exported="false" />
        <activity android:name="com.example.fitconnect.feature.personal.PersonalHomeActivity" android:exported="false" />
        <activity android:name="com.example.fitconnect.feature.personal.PersonalAlunoFeedbacksActivity" android:exported="false" />
        <activity android:name="com.example.fitconnect.feature.personal.PersonalAlunoTreinosActivity" android:exported="false" />
        <activity android:name="com.example.fitconnect.feature.home.MenuActivity" android:theme="@style/Theme.FitConnect.Transparent" android:exported="false" />
        <activity android:name="com.example.fitconnect.feature.auth.CadastroActivity" android:exported="false" />
        <activity android:name="com.example.fitconnect.feature.auth.RecuperarSenhaActivity" android:exported="false" />
        <activity android:name="com.example.fitconnect.feature.perfil.EditarPerfilActivity" android:exported="false" />
        <activity android:name="com.example.fitconnect.feature.treino.TreinosActivity" android:exported="false" />
        <activity android:name="com.example.fitconnect.feature.treino.CriacaoTreinoActivity" android:exported="false" />
        <activity android:name="com.example.fitconnect.feature.treino.DetalheTreinoActivity" android:exported="false" />
        <activity android:name="com.example.fitconnect.feature.exercicio.DetalheExercicioTreinoActivity" android:exported="false" />
        <activity android:name="com.example.fitconnect.feature.treino.ExecucaoTreinoActivity" android:exported="false" />
        <activity android:name="com.example.fitconnect.feature.treino.EditarTreinoActivity" android:exported="false" />
        <activity android:name="com.example.fitconnect.feature.suporte.AjudaActivity" android:exported="false" />
        <activity android:name="com.example.fitconnect.feature.suporte.ContatoSuporteActivity" android:exported="false" />
        <activity android:name="com.example.fitconnect.feature.feedback.FeedbackPosTreinoActivity" android:exported="false" />
        <activity android:name="com.example.fitconnect.feature.feedback.HistoricoFeedbacksActivity" android:exported="false" />
        <activity android:name="com.example.fitconnect.feature.exercicio.GaleriaExerciciosActivity" android:exported="false" />
        <activity android:name="com.example.fitconnect.feature.exercicio.DetalheGaleriaExercicioActivity" android:exported="false" />
        <activity android:name="com.example.fitconnect.feature.arquivo.MeusArquivosActivity" android:exported="false" />
        <activity android:name="com.example.fitconnect.feature.arquivo.AdicionarArquivoActivity" android:exported="false" />
        <activity android:name="com.example.fitconnect.feature.pagamento.PagamentoProActivity" android:exported="false" />
        <activity android:name="com.example.fitconnect.feature.dashboard.DashboardProActivity" android:exported="false" />

    </application>

</manifest>
